<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sprittr.dao.AsUserMapper" >
  <resultMap id="BaseResultMap" type="sprittr.pojo.AsUser" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="sys_user_id" property="sysUserId" jdbcType="VARCHAR" />
  </resultMap>
  
<!--   <resultMap extends="BaseResultMap" id="BaseRowMap" type="com.aoshi.domain.AsResultMap">
   <result column="shopType" property="shopType" jdbcType="INTEGER" />
   <result column="shop_id" property="shopId" jdbcType="INTEGER" />
   <result column="flag" property="flag" jdbcType="INTEGER" />
   <result column="userStatus" property="userStatus" jdbcType="INTEGER" />
   <result column="invite_code" property="inviteCode" jdbcType="INTEGER" />
   <result column="my_invite" property="myInvite" jdbcType="INTEGER" />
  </resultMap> -->
  
  <sql id="Base_Column_List" >
    user_id, password, account, create_time, status, type, sys_user_id
  </sql>
   <select id="findBySysUserId" resultMap="BaseResultMap" >
  	select * from as_user where type = 1 and status=0 limit 1
  </select>
  <insert id="insert" parameterType="sprittr.pojo.AsUser">
    insert into as_user (user_id, password, account,
    create_time, status, type,
    sys_user_id)
    values (#{userId,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR},
    #{createTime,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{type,jdbcType=INTEGER},
    #{sysUserId,jdbcType=VARCHAR})
  </insert>
</mapper>